.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 100vh;
  background-color: #3b4252;

  .user_image {
    margin-top: 60px;

    img {
      display: flex;
      width: 15rem;
      height: 15rem;
      border: 2px solid #c0ccda;
    }
  }

  .content_description {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-style: italic;
    h1 {
      margin-top: 33px;
      font-weight: 300;
      font-size: 2rem;
      color: #eceff4;
    }
    h2 {
      color: rgba(236, 239, 244, 0.6);
      font-size: 1.5rem;
      font-weight: 300;
    }
    p {
      color: #8190a59a;
      font-size: 18px;
      margin-top: 23px;
      font-style: normal;
    }

    .user_status {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 23px;
      span {
        gap: 2px;
        display: flex;
        align-items: center;
        color: #eceff4;
        font-size: 1.25rem;
      }
    }

    .user_info {
      display: flex;
      justify-content: flex-start;
      margin-top: 1.5rem;
      ul {
        list-style: none;
        li {
          gap: 14px;
          display: flex;
          align-items: center;
          color: rgba(236, 239, 244, 0.7);
          font-size: 1.5rem;
          margin-top: 17px;
        }
      }
    }

    .go_back {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      button {
        background-color: #eceff4;
        color: #3b4252;
        text-align: center;
        font-size: 1.12rem;
        font-weight: 400;
        border-radius: 5px;
        width: 12rem;
        height: 3.12rem;
        border: none;
        cursor: pointer;
      }
    }
  }
}
