.content {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2.5rem;
    font-style: italic;
    color: #3b4252;
    font-weight: 300;
  }

  form {
    display: flex;

    @media (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    input {
      color: #3b4252;
      width: 400px;
      height: 50px;
      font-size: 1rem;
      border: 1px solid #3b4252;
      border-radius: 5px;
      background-color: #fff;
      padding-left: 1.5rem;
      margin-right: 5px;

      @media (max-width: 770px) {
        font-size: 1.2rem;
      }

      @media (max-width: 411px) {
        width: 300px;
      }

      &::placeholder {
        color: #8190a5;
        font-size: 1rem;
        font-style: italic;

        @media (max-width: 770px) {
          font-size: 1.2rem;
        }
      }
    }

    button {
      background-color: #47525e;
      border-radius: 5px;
      width: 118px;
      height: 50px;
      border: none;
      cursor: pointer;
      text-align: center;

      color: #eceff4;
      font-size: 1.3rem;

      @media (max-width: 770px) {
        width: 130px;
        height: 55px;
      }

      @media (max-width: 800px) {
        margin-top: 5px;
      }

      .icon {
        margin-right: 5px;
        color: #eceff4;
      }
    }
  }
  .errorMessage {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(148, 21, 21, 0.671);
  }
}
