.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #3b4252;

  @media (max-width: 414px) {
    width: 100%;
    height: 100%;
  }

  .user_image {
    margin-top: 60px;

    @media (max-width: 414px) {
      margin-top: 10px;
    }

    @media (max-width: 1400px) {
      margin-top: 15px;
    }

    img {
      display: flex;
      width: 14rem;
      height: 14rem;
      border: 2px solid #c0ccda;

      @media (max-width: 1400px) {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  .content_description {
    display: flex;
    flex-direction: column;
    width: 85%;
    font-style: italic;
    h1 {
      margin-top: 33px;
      font-weight: 300;
      font-size: 1.8rem;
      color: #eceff4;
    }
    h2 {
      color: rgba(236, 239, 244, 0.7);
      font-size: 1.5rem;
      font-weight: 300;
    }
    p {
      color: #8190a59a;
      font-size: 1rem;
      margin-top: 23px;
      font-style: normal;
    }

    .user_status {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 23px;

      @media (max-width: 770px) {
        display: flex;
        text-align: center;
      }
      span {
        gap: 2px;
        display: flex;
        align-items: center;
        color: #eceff4;
        font-size: 1.2rem;

        @media (max-width: 1400px) {
          font-size: 1rem;
        }

        @media (max-width: 770px) {
          flex-direction: column;
          font-size: 1.3rem;
          gap: 8px;
        }
      }
    }

    .user_info {
      display: flex;
      justify-content: flex-start;
      margin-top: 1.5rem;

      @media (max-width: 1400px) {
        margin-top: 0;
      }

      @media (max-width: 770px) {
        margin-top: 1.5rem;
      }

      ul {
        list-style: none;
        li {
          gap: 14px;
          display: flex;
          align-items: center;
          color: rgba(236, 239, 244, 0.7);
          font-size: 1.3rem;
          margin-top: 17px;
          word-break: break-all;

          @media (max-width: 1400px) {
            font-size: 1rem;
          }

          @media (max-width: 770px) {
            font-size: 1.5rem;
          }
        }
      }
    }

    .go_back {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;

      button {
        background-color: #eceff4;
        color: #3b4252;
        text-align: center;
        font-size: 1.12rem;
        font-weight: 400;
        border-radius: 5px;
        width: 12rem;
        height: 3.12rem;
        border: none;
        cursor: pointer;

        @media (max-width: 414px) {
          margin-bottom: 15px;
        }
      }
    }
  }
}
